<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
      <nav class="header_title_box">
        <h1>Bookers</h1>
      </nav>
      <nav>
        <ul class="header_list_box">
          <% if user_signed_in? %>
            <li class="header_list">
              <a class="glyphicon glyphicon-home home">
              <%= link_to 'Home', user_path(current_user.id) %>
            </li>
            <li class="header_list">
              <%= link_to 'Users', users_path %>
            </li>
            <li class="header_list">
              <%= link_to 'Books', destroy_user_session_path, method: :delete %>
            </li>
            <li class="header_list">
              <%= link_to 'log out', destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="header_list">
              <%= link_to 'Home', destroy_user_session_path, method: :delete %>
            </li>
            <li class="header_list">
              <%= link_to 'About', destroy_user_session_path, method: :delete %>
            </li>
            <li class="header_list">
              <%= link_to 'Sign up', destroy_user_session_path, method: :delete %>
            </li>
            <li class="header_list">
              <%= link_to 'login', destroy_user_session_path, method: :delete %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
